.about-co {
    background-color: #30307e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-wrapper {
    width: 895px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.about-dsc-co {
    margin-left: 30px;
}

.about-title {
    font-size: 45px;
    color: white;
    margin-bottom: 20px;
}

.about-dsc {
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}

.email-title {
    color: white;
}

.email-dsc {
    color: darkgray;
}

@media screen and (max-width:850px) {
    .about-wrapper {
        flex-wrap: wrap;
        margin-top: 100px;
        max-width: 470px;
    }

    .about-img {
        margin-right: 30px;
        margin-left: 30px;
    }

    .about-dsc-co {
        margin: 25px 80px;
    }

    .about-co {
        height: auto;
    }
}

@media screen and (max-width:480px) {
    .about-dsc-co {
        margin: 25px 30px;
    }
}