.button {
    /* margin-top:20px ; */
    padding: 8px;
    cursor: pointer;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: MidnightBlue;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}

.button:active {
    background-color: #6d6ddf;
    transition: all .3s ease 0s;
    
}